<div class="group-container">
  <!-- Group heading -->
  <div *ngIf="isGroupAddActive; then groupAdd else groupEdit">
  </div>
  <ng-template #groupAdd>
    <h3>Start A New Group</h3>
  </ng-template>
  <ng-template #groupEdit>
    <h3>Edit Group</h3>
  </ng-template>
  <hr>

  <!-- Add group form -->
  <form [formGroup]="addGroupForm">
    <!-- Group name -->
    <div class="form-group d-flex flex-column mt-3">
      <label for="group-name">Group name </label>
      <input type="text" class="form-control" id="group-name" placeholder="Enter your group name"
        formControlName="groupName" [readonly]="isGroupCreated">
      <!-- Custom validation for Email -->
      <div class="validation" *ngIf="groupName?.invalid && groupName?.touched">
        <small *ngIf="groupName?.hasError('required')">
          Group name required
        </small>
      </div>
    </div>

    <!-- Group description -->
    <div class="form-group d-flex flex-column mt-3">
      <label for="share-link">Group Description</label>
      <input type="text" class="form-control" id="share-link" placeholder="Group description" formControlName="about"
        [readonly]="isGroupCreated">
    </div>

    <!-- Group members -->
      <div class="form-group d-flex flex-column mt-3">
        <div formArrayName="groupMember">
          <label>Add Members:</label>
          <div *ngFor="let friend of friendList; let i = index">
            <label>
              <input type="checkbox" [formControlName]="i" (change)="onMemberSelectionChange($event, friend.id)"> {{ friend.userName }}
            </label>
          </div>
        </div>
      </div>


    <div class="d-flex justify-content-end">
      <!-- Save button -->
      <button type="button" class="btn btn-success w-20 h-25" [disabled]="!addGroupForm.valid" [hidden]="isGroupCreated"
        (click)="createGroup()">Save</button>

      <!-- Cancel button -->
      <button routerLink="/group/group-list" type="button" class="btn btn-danger w-20 h-25"
        [hidden]="isGroupCreated">Cancel</button>
    </div>

  </form>

  <ng-container *ngIf="false">
    <form [formGroup]="addMembersForm" (ngSubmit)="addMembersToGroup()">
      <!-- Group member -->
      <div class="group-member-container d-flex justify-content-between align-items-center mt-3 mb-3">
        <label for="group-member">Group Members</label>
        <button class="btn btn-success" type="button" (click)="addMemberNameAndEmailField()">+ Add member</button>
      </div>

      <!-- Dynamically group member add-->
      <ng-container>

        <!-- Group member input fields -->
        <div formArrayName="groupMembers" *ngFor="let member of groupMembers.controls; let i = index">

          <div class="group-member form-group d-flex justify-content-between" [formGroupName]="i">
            <!-- Group member name -->
            <div class="member-name">
              <input type="text" class="form-control" placeholder="Name" formControlName="memberName">
            </div>

            <!-- Group member email -->
            <div class="member-email">
              <input type="email" class="form-control" placeholder="Email address" formControlName="memberEmail">
            </div>

            <!-- Delete group member -->
            <div class="d-flex justify-content-center align-items-center" *ngIf="groupMembers.length>1">
              <button class="btn btn-danger h-75" type="button" (click)="deleteMemberNameAndEmailField(i)"><i
                  class='fa fa-trash'></i></button>
            </div>
          </div>
        </div>
      </ng-container>

      <div class="d-flex justify-content-end">
        <!-- Save button -->
        <button type="submit" class="btn btn-success w-20 h-25" [disabled]="!addGroupForm.valid">Save</button>

        <!-- Cancel button -->
        <button routerLink="/group/group-list" type="button" class="btn btn-danger w-20 h-25">Cancel</button>
      </div>
    </form>
  </ng-container>
</div>
