<div class="friend-container">
 
  <!-- If friend detail is not active then it shows friend list -->
  <ng-container *ngIf="!isFriendDetailActive">
      
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
          <!-- Friend header with add friend button -->
          <thead class="table-secondary">

            <!-- Friend header -->
            <tr>
              <td colspan="4">
                <div class="d-flex justify-content-between align-items-center">

                  <!-- Back icon -->
                  <a routerLink="/dashboard"><i class="fa fa-arrow-circle-left"></i></a>

                  <!-- Friend heading -->
                  <h4>Friends</h4>
                  <button type="button" class="btn btn-success" routerLink="/friends/friends-add">+ Invite Friend</button>
                </div>
              </td>
            </tr>

            <!-- Freind table header -->
            <tr>
              <th>Friend name</th>
              <th>Friend email</th>
              <th>Action</th>
            </tr>
          </thead>
    
          <!-- Friend list -->
          <tbody>
            <tr *ngFor="let friend of friendList; let i=index">
              <!-- Friend name -->
              <td>
                <a class="p-2" (click)="friendDetailShow(friend.friendName, i)">{{friend.friendName}}</a>
              </td>
              
              <td>{{friend.friendEmail}}</td>

              <!-- Edit and delete button -->
              <td>
                <div class="d-flex justify-content-around">
                  <!-- Edit button -->
                  <button type="button" class="btn btn-outline-secondary btn-action" (click)="navigateToEditForm(i)"><i class='fa fa-edit'></i></button>
                  <!-- Delete button -->
                  <button type="button" class="btn btn-outline-danger btn-action" data-bs-toggle="modal" data-bs-target="#delete" (click)="setDeleteFriendId(friend.friendName, friend.id)" ><i class='fa fa-trash'></i></button>
                </div>
              </td>
            </tr>
          </tbody>
      </table>
      
    </div>
  </ng-container>

  <!-- If friend detail is active then it shows friend detail with transaction and expense list -->
  <ng-container *ngIf="isFriendDetailActive">

    <div class="table-responsive">
      <table class="table table-hover table-bordered">
          <!-- friend header with add friend button -->
          <thead class="table-secondary">
            <tr>
              <td colspan="3">
                <div class="friend-header d-flex justify-content-between align-items-center">

                  <!-- Back icon -->
                  <a routerLink="/friends/friends-list"><i class="fa fa-arrow-circle-left"></i></a>
                  <!-- friend Name -->
                  <h4>{{friendNameDetail}}</h4>

                  <!-- Add Expense and settle up button -->
                  <div class="expense-settleup">
                    <button class="btn btn-danger" type="button" routerLink="/expense/expense-add">Add Expense</button>
                    <button class="btn btn-success" type="button" routerLink="/settleUp">Settle Up</button>
                  </div>
                </div>
              </td>
            </tr>

            <!-- Friends table header -->
            <tr>
              <th>
                <div class="d-flex justify-content-between">
                  <p>Group Name</p>
                  <p>Transaction Detail</p>
                </div>
              </th>
            </tr>
          </thead>
    
          <!-- friend transaction list -->
          <tbody>
              <tr *ngFor="let detail of FriendDetailList">
                  <div *ngIf="friendNameDetail === detail.payer || friendNameDetail === detail.receiver">
                    <div class="d-flex justify-content-between">
                      <a routerLink="/group/group-list/{{detail.groupName}}">{{detail.groupName}}</a>
                      <div class="d-flex flex-column">
                        <em>{{detail.payer}} owes {{detail.receiver}}</em>
                        <strong>{{detail.currency}}{{detail.amount}}</strong>
                      </div>
                    </div>
                  </div>
              </tr>
          </tbody>
      </table>

    </div>
  </ng-container>

</div>

<!-- Delete button Modal -->
<div class="modal fade" id="delete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel">Delete friend</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      Are you want to delete the {{deleteFriendName}}?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteFriend(deleteFriendId)">Delete</button>
    </div>
  </div>
</div>
</div>