/* Import common style */
@import "../../layout/variables";

/* Friend container */
.friend-container {
    border-radius: 15px;
    box-shadow: 0 5px 15px $off-black;
    padding: 20px;
    width: 500px;

    /* Buttons */
    .btn {
        margin-right: 10px;
    }
}

/* Media query */
@media screen and (max-width: 900px) {
    
    .friend-container {
        width: auto;
    }
}


@media screen and (max-width: 475px) {
    .friend-container {
        .friend-member {
            flex-direction: column;
        }
    }
}