<!-- Loading message while click on invite button -->
<div *ngIf="loading" class="toast show">
    <div class="toast-body">
        Loading.....
    </div>
</div>

<!-- Friend container -->
<div class="friend-container">
    <!-- Friend heading -->
    <div *ngIf="!isFriendAddActive; then friendAdd else friendEdit">
    </div>
    <ng-template #friendAdd>
        <h3>Invite Friend</h3>
    </ng-template>
    <ng-template #friendEdit>
        <h3>Edit Friend</h3>
    </ng-template>
    <hr>

    <!-- Add friend form -->
    <form [formGroup]="addFriendForm" (ngSubmit)="onSubmit()">
        
        <!-- Friend name -->
        <div class="friend-name mt-3 mb-3">
            <label for="friend-name">Friend Name</label>
            <input type="text" class="form-control" id="friend-name" placeholder="Friend Name" formControlName="friendName">
             <!-- Custom validation for name -->
             <div class="validation" *ngIf="friendName?.invalid && friendName?.touched">
                <small *ngIf="friendName?.hasError('required')">
                    Friend name required
                </small>
            </div>
        </div>

        <!-- Friend email -->
        <div class="friend-email mt-3 mb-3">
            <label for="friend-email">Friend Email</label>
            <input type="email" class="form-control" id="friend-email" placeholder="Friend Email address" formControlName="friendEmail">
             <!-- Custom validation for Email -->
             <div class="validation" *ngIf="friendEmail?.invalid && friendEmail?.touched">
                <small *ngIf="friendEmail?.hasError('required')">
                    Friend email required
                </small>
                <small *ngIf="friendEmail.hasError('pattern')">
                    Please fill correct email
                </small>
            </div>
        </div>

        <!-- Invite friend and cancel button -->
        <div class="d-flex justify-content-end">
            <!-- Invite friend button -->
            <button type="submit" class="btn btn-success w-20 h-25" [disabled]="!addFriendForm.valid">Invite Friend</button>
    
            <!-- Cancel button -->
            <button routerLink="/friends/friends-list" type="button" class="btn btn-danger w-20 h-25">Cancel</button>
        </div>
    </form>
</div>