<div class="form-container">
    <!-- Log in header -->
    <h2 id="login">Log in</h2>
    <hr>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <!-- Email Address -->
        <div class="form-group flex flex-column mt-3">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName="email">
            <!-- Custom Validation for Email -->
                <div class="validation" *ngIf="email?.invalid && email?.touched">
                    <small *ngIf="email?.hasError('required')">
                        Email required
                    </small>
                    <small *ngIf="email?.hasError('pattern')">
                        Please fill correct email
                    </small>
                </div>
        </div>

        <!-- Password -->
        <div class="form-group flex flex-column mt-3 mb-2">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" formControlName="password">
            <!-- Custom Validation for Password -->
            <div class="validation" *ngIf="password?.invalid && password?.touched">
                <small *ngIf="password?.hasError('required')">
                    Password required
                </small>
                <small *ngIf="password?.hasError('pattern')">
                    Password must contain more than 8 characters with 1 upper case letter and 1 special character
                </small>
            </div>
        </div>

        <!-- Login button -->
        <input type="submit" value="Login" id="btn" [disabled]="!loginForm.valid">
    </form>
</div>