/* Import common styling */
@import "../../layout/variables";
@import "../../layout/button";

/* Log in Form container */
.form-container {
    border-radius: 15px;
    box-shadow: 0 5px 15px $off-black;
    padding: 20px;
    width: 400px;

    /* Forget password */
    a {
        text-decoration: none;
        color: $green;
        display: block;
        text-align: center;

        /* Forget password hover */
        &:hover {
            color: $light-green;
        }
    }
    
}


// Media Query for mobile size
@media screen and (max-width: 425px) {
    .form-container{
        max-width: 300px;
    }
}