/* Import common style */
@import "../layout/variables";

/* SettleUp container */
.container {
    border-radius: 15px;
    box-shadow: 0 5px 15px $off-black;
    padding: 20px;
    width: 500px;

    /* Buttons */
    .btn {
        margin-right: 10px;
    }
}

/* Media query */
@media screen and (max-width: 900px) {
    
    .container {
        width: auto;
    }
}