<ng-container *ngIf="ownedDetails.length === 0">
  <h3 class="text-center">
    No settle amount yet
  </h3>
</ng-container>
<ng-container *ngIf="ownedDetails.length > 0">
<div class="settle-up-container">
  <div class="table-responsive table-bordered">
    <table class="table table-hover">
      <!-- expense header with add expense button -->
      <thead class="table-secondary">
        <tr>
          <td colspan="7">
            <div class="expense-header d-flex justify-content-between align-items-center">
              <!-- Back icon -->
              <a routerLink="/expense/expense-list"><i class="fa fa-arrow-circle-left"></i></a>
              <!-- settle up Name -->
              <h4>Settle Up</h4>
            </div>
          </td>
        </tr>
        <!-- settle up table header -->
        <tr>
          <th>Name</th>
          <th>Amount</th>
          <th>Settle up</th>
        </tr>
      </thead>
      <!-- settle up list -->
      <tbody>
        <tr *ngFor="let item of ownedDetails; let i=index">
          <td>{{item.ownedByName}}</td>
          <td>{{item.amount}}</td>
          <td>

              <button type="button" class="btn btn-success" (click)="getPaymentID(item.paymentId)">Settle Up</button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</ng-container>

