<div class="container">

    <!-- Header of settle up page -->
    <h2>Settle Up</h2>
    <hr>

    <!-- Settle up form -->
    <form>
        <!-- Paid by and paid to -->
        <div class="form-group mt-4 mb-2">
            <div class="d-flex">

                <!-- Paid By  -->
                <div class="w-50">
                    <select class="form-control" id="paidBy">
                        <option value="you">You</option>
                        <option value="Mayank">Mayank</option>
                        <option value="Harish">Harish</option>
                        <option value="Nikita">Nikita</option>
                    </select>
                </div>
                
                <!-- Paid text -->
                <div class="w-25 text-center">
                    <p> paid </p>
                </div>
    
                <!-- Paid to -->
                <div class="w-50">
                    <select class="form-control" id="paidTo">
                        <option value="Priya">Priya</option>
                        <option value="Mayank">Mayank</option>
                        <option value="Harish">Harish</option>
                        <option value="Nikita">Nikita</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- Amount of expense -->
        <div class="form-group mt-2 mb-2">
            <label for="amount">Amount:</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <select class="form-control" id="currency-type">
                        <option value="₹">₹</option>
                        <option *ngFor="let type of currency" [value]="type">{{type}}</option>
                    </select>
                </div>
                <input type="number" class="form-control" id="amount" name="amount" min="0" placeholder="Enter amount" required>
            </div>
        </div>

        <!-- Date -->
        <div class="form-group mt-2 mb-2">
            <label for="date">Date</label>
            <input type="date" class="form-control" id="date" name="date">
        </div>

        <!-- Group selection -->
        <div class="form-group mt-2 mb-3">
            <label for="group-type">Groups</label>
            <select class="form-control" id="group-type">
                <option value="no-group">No Group</option>
                <option *ngFor="let group of groups" [value]="group">{{group}}</option>
            </select>
        </div>

        <!-- Save button -->
        <button type="submit" class="btn btn-success" routerLink="/dashboard">Save</button>
    </form>
</div>