/* Import common styling */
@import "../layout/variables";

/* Settle up container */
.settle-up-container {
  /* Settle up table */
  .table {
    border-left: 1px solid $off-grey;
    border-right: 1px solid $off-grey;
    
    /* Make the table header sticky */
    thead {
      position: sticky;
      top: 0;
      z-index: 1;
    }
    
    /* Buttons */
    .btn {
      margin-right: 5px;
    }
    
    /* Action button */
    .btn-action {
      padding: 5px;
      border: none;
    }
    
    /* Edit / delete icon */
    i {
      font-size: $font-size-20;
    }
    
    /* Settle up name */
    a {
      text-decoration: none;
      color: $black;
      
      /* Back icon */
      i {
        font-size: $font-size-24;
      }
      
      /* Settle up name hover */
      &:hover {
        color: $green;
        text-decoration: underline;
      }
    }
  }
  
  /* Make the table scrollable */
  .table-responsive {
    max-height: 600px; /* Adjust the height as needed */
    overflow-y: auto;
  }
}
