<div class="settle-up-container">
    <div class="table-responsive">
      <table class="table table-hover table-bordered">
          <!-- expense header with add expense button -->
          <thead class="table-secondary">
            <tr>
              <td colspan="7">
                <div class="expense-header d-flex justify-content-between align-items-center">
                  <!-- Back icon -->
                  <a routerLink="/dashboard"><i class="fa fa-arrow-circle-left"></i></a>
                  <!-- settle up Name -->
                  <h4>Settle Up</h4>
                </div>
              </td>
            </tr>
            <!-- settle up table header -->
            <tr>
              <th>Name</th>
              <th>Amount</th>
              <th>Settle up</th>
            </tr>
          </thead>
          <!-- settle up list -->
          <tbody>
              <tr *ngFor="let item of ownedDetails; let i=index">
                <td>{{item.ownedBy}}</td>
                <td>{{item.amount}}</td>
                <td>
                  <div class="d-flex justify-content-around">
                    <button type="button"  class="btn btn-success" (click)="getPaymentID(item.paymentId)">Settle Up</button>
                  </div>
                </td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>
  

  