<div class="side-nav-content">
    <ul class="nav-list p-0 m-0" [ngClass]="{'nav-list-open': sideNavStatus}">

        <!-- Dashboard -->
        <li class="nav-list-item" [ngClass]="{'active': currentUrl==='/dashboard'}" routerLink="/dashboard">
            <i class="fa fa-home"></i>
            <a>Dashboard</a>
        </li>

        <!-- Group -->
        <li class="nav-list-item" [ngClass]="{'active': currentUrl==='/group/group-list' || currentUrl === '/group/group-add'}" routerLink="/group/group-list">
            <i class="fa fa-group"></i>
            <a > Groups</a>
        </li>

        <!-- Friends -->
        <li class="nav-list-item" [ngClass]="{'active': currentUrl==='/friends/friends-list' || currentUrl === '/friends/friends-add'}" routerLink="/friends/friends-list">
            <i class='fa fa-handshake-o'></i>
            <a>Friends</a>
        </li>

        <!-- Transaction List-->
        <li class="nav-list-item" [ngClass]="{'active': currentUrl==='/transaction'}" routerLink="/transaction">
            <i class='fa fa-tag'></i>
            <a>Transaction List</a>
        </li>

        <!-- Expenses -->
        <li class="nav-list-item" [ngClass]="{'active': currentUrl==='/expense/expense-list' || currentUrl === '/expense/expense-add'}"  routerLink="/expense/expense-list">
            <i class="	fa fa-credit-card"></i>
            <a>Expenses</a>
        </li>

        <!-- SettleUp -->
        <li class="nav-list-item" [ngClass]="{'active': currentUrl==='/settleUp'}"  routerLink="/settleUp">
            <i class="fa fa-dollar"></i>
            <a>Settle Up</a>
        </li>
    </ul>
</div>
