/* Import common styling */
@import "./variables";

/* Name, email and password input tag */
input[type=text],
input[type=password], 
[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid $off-grey;
    border-radius: 4px;
    box-sizing: border-box;
}

// Validation for input tag styling
input {
    &.ng-invalid {
        &.ng-touched {
            border: 1px solid $red;
        }
    }
}

/* Validation message */
small {
    color: $red;
}

/*  Submit button*/
input[type=submit] {
    width:100%;
    background-color: $green;
    color: $white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    /* Submit button hover */
    &:hover {
        background-color: $light-green;
    }
}