/* Variables for colors*/
$white: white;
$green: #2abe74;
$light-green: #27d627dc;
$black: black;
$off-black: #00000059;
$light-grey: #f3f0f0;
$off-grey: #ccc;
$red: red;
$light-blue: #f4fafc;
$blue: blue;


/* Variables for fonts*/
$font-family: Arial, Helvetica, sans-serif;