<div class="expense-container">
    <!-- expense heading -->
    <div *ngIf="isExpenseAddActive; then expenseAdd else expenseEdit">
    </div>
    <ng-template #expenseAdd>
        <h3>Add expense</h3>
    </ng-template>
    <ng-template #expenseEdit>
        <h3>Edit expense</h3>
    </ng-template>
    <hr>

    <!-- Add expense form -->
    <form [formGroup]="addExpenseForm" (ngSubmit)="onSubmit()">

        <!-- Expense title -->
        <div class="form-group mt-2">
            <label for="expense_title">Expense Title:</label>
            <input type="text" class="form-control" id="expense_title" formControlName="expense_title" placeholder="Enter a expense title" required>
            
            <!-- Custom validation for expense title -->
            <div class="validation mb-3" *ngIf="expenseTitle?.invalid && expenseTitle?.touched">
                <small *ngIf="expenseTitle?.hasError('required')">
                    Expense title required
                </small>
            </div>
        </div>

        <!-- description about expense -->
        <div class="form-group mt-2">
            <label for="expense_description">Expense Description:</label>
            <input type="text" class="form-control" id="expense_description" formControlName="expense_description" placeholder="Enter a description">
        </div>


        <!-- Currency and amount of expense -->
        <div class="form-group mt-2">
            <label for="amount">Amount:</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <select class="form-control" id="currency-type" formControlName="currency">
                        <option value="INR">INR</option>
                    </select>
                </div>
                <input type="number" class="form-control" id="amount" formControlName="expense_amount" min="0" placeholder="Enter amount"> 
            </div>

            <!-- Custom validation for expense amount -->
            <div class="validation mb-3" *ngIf="expenseAmount?.invalid && expenseAmount?.touched">
                <small *ngIf="expenseAmount?.hasError('required')">
                    Expense amount is required
                </small>
            </div>
        </div>

        <!-- Group selection -->
        <div class="form-group mt-2">
            <label for="group-type">Groups</label>
            <select class="form-control" id="group-type" formControlName="groupId">
                <option value="" disabled selected>Select the group</option>
                <option *ngFor="let group of groupItem" [value]="group.id">{{group.name}}</option>
            </select>
        </div>


        <!-- Split condition  -->
        <div class="form-group mt-2">
            <label for="split">Split:</label>
            <select class="form-control" id="split" name="split" formControlName="split_as">
                <option value="equal">Split equally</option>
            </select>
        </div>

        <!-- Expense settle or not -->
        <!-- <div class="form-group mt-2">
            <label for="settle">Expense is settled</label>
            <select class="form-control" id="settle" formControlName="isSettled">
                <option value="false">False</option>
                <option value="true">True</option>
            </select>
        </div> -->

        <!-- Save and cancel button -->
        <div class="d-flex justify-content-end mt-3">
            <!-- Save button or update button -->
            <div *ngIf="isExpenseAddActive; then expenseAddButton else expenseEditButton">
            </div>
            <ng-template #expenseAddButton>
                <button type="submit" class="btn btn-success w-20 h-25" [disabled]="!addExpenseForm.valid">Save</button>
            </ng-template>
            <ng-template #expenseEditButton>
                <button type="button" (click)="updateExpense()" class="btn btn-success w-20 h-25" [disabled]="!addExpenseForm.valid">Update</button>
            </ng-template>

            <!-- Cancel button -->
            <button routerLink="/expense/expense-list" type="button" class="btn btn-danger w-20 h-25">Cancel</button>
        </div>
    </form>
</div>