<div class="groups-container">

    <!-- If Group detail is not active then it shows group list -->
    <ng-container *ngIf="!isGroupDetailActive">
      <div class="table-responsive">

        <table class="table table-bordered table-hover">
            <!-- Group header with add group button -->
            <thead class="table-secondary">
              <tr>
                <td colspan="5">
                  <div class="d-flex justify-content-between align-items-center">

                    <!-- Back icon -->
                    <a routerLink="/dashboard"><i class="fa fa-arrow-circle-left"></i></a>

                    <!-- Group heading -->
                    <h4>Groups</h4>
                    <button class="btn btn-success" routerLink="/group/group-add">+ Add Group</button>
                  </div>
                </td>
              </tr>

              <!-- Group list header -->
              <tr>
                <th>Group Name</th>
                <th>Group Description</th>
                <th>Group Members</th>
                <!-- <th>Group type</th> -->
                <th>Action</th>
              </tr>
            </thead>

            <!-- Group list -->
            <tbody>

              <!-- /////////////////////////static data row///////////////////// -->

              <!-- <tr *ngFor="let group of groups; let i=index"> -->
                <!-- Group name -->
                <!-- <td> -->
                  <!-- <a class="p-2" (click)="groupDetailShow(group.groupName, i)">{{group.groupName}}</a> -->
                <!-- </td> -->

                <!-- Group share link -->
                <!-- <td>{{group.shareLink}}</td> -->

                <!-- Group Members -->
                <!-- <td> -->
                  <!-- <div *ngFor="let member of group.groupMember; let j=index">
                  {{j+1}}. {{member.memberName}}
                  </div>
                </td> -->

                <!-- Group Type -->
                <!-- <td>{{group.groupType}}</td> -->

                <!-- Group Action -->
                <!-- <td> -->
                  <!-- Edit and delete button -->
                  <!-- <div class="d-flex justify-content-around"> -->
                    <!-- Edit button -->
                    <!-- <button type="button" class="btn btn-outline-secondary btn-action" (click)="navigateToEditForm(i)"><i class='fa fa-edit'></i></button> -->
                    <!-- Delete button -->
                    <!-- <button type="button" class="btn btn-outline-danger btn-action" (click)="deleteGroup(i)"><i class="fa fa-trash"></i></button> -->
                  <!-- </div>
                </td>
              </tr> -->

              <!-- ////////////////////////////////new row/////////////////////////////// -->

              <tr *ngFor="let group of groupList; let i=index">
                <!-- Group name -->
                <td>
                  <a class="p-2" (click)="groupDetailShow(group.name, i)">{{group.name}}</a>
                </td>

                <!-- Group share link -->
                <td>{{group.about}} </td>

                <!-- Group Members -->
                <td><div>{{(group.createdBy)}}</div>

                  <div *ngFor="let member of group.groupMembers; let j=index">
                  {{j+1}}. {{member}}
                  </div>
                </td>

                <!-- Group Type -->
                <!-- <td>{{group.groupType}}</td> -->

                <!-- Group Action -->
                <td>
                  <!-- Edit and delete button -->
                  <div class="d-flex justify-content-around">
                    <!-- Edit button -->
                    <button type="button" class="btn btn-outline-secondary btn-action" (click)="navigateToEditForm(i)"><i class='fa fa-edit'></i></button>
                    <!-- Delete button -->
                    <button type="button" class="btn btn-outline-danger btn-action" (click)="deleteGroup(i)"><i class="fa fa-trash"></i></button>
                  </div>
                </td>
              </tr>

            </tbody>
        </table>
      </div>

    </ng-container>

    <!-- If group detail is active then it shows group detail with transaction and expense list -->
    <ng-container *ngIf="isGroupDetailActive">

      <div class="table-responsive">
        <table class="table table-bordered table-hover">

            <!-- Group header with add group button -->
            <thead class="table-secondary">
              <tr>
                <td colspan="3">
                  <div class="group-header d-flex justify-content-between align-items-center">

                    <!-- Back icon -->
                    <a routerLink="/group/group-list"><i class="fa fa-arrow-circle-left"></i></a>

                    <!-- Group Name -->
                    <h4>{{groupNameDetail}}</h4>

                    <!-- Add Expense and settle up button -->
                    <div class="expense-settleup">
                      <button class="btn btn-danger" routerLink="/expense/expense-add" type="button">Add Expense</button>
                      <button class="btn btn-success" routerLink="/settleUp" type="button">Settle Up</button>
                    </div>
                  </div>
                </td>
              </tr>
            </thead>

            <!-- Group transaction list and expense list -->
            <tbody>

                <!-- Transaction list details -->
                <tr *ngFor="let transaction of transactionList">
                    <td>{{transaction.payer}} paid <strong>{{transaction.currency}}{{transaction.amount}}</strong> to {{transaction.receiver}}</td>
                    <td><em>{{transaction.payer}} paid</em></td>
                    <td><strong>{{transaction.currency}}{{transaction.amount}}</strong></td>
                </tr>

                <!-- Expense list details -->
                <tr *ngFor="let expense of expenseList">
                  <td><a routerLink="/expense/expense-edit/{{expense.expenseName}}">{{expense.expenseName}}</a></td>
                  <td>
                    <div class="d-flex flex-column">
                      <p>{{expense.paidBy}} paid</p>
                      <p>{{expense.currency}}{{expense.paidAmount}}</p>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex flex-column">
                      <p>{{expense.paidBy}} lent {{expense.lent}}</p>
                      <p>{{expense.currency}}{{expense.lentAmount}}</p>
                    </div>
                  </td>
                </tr>
            </tbody>
        </table>
      </div>
    </ng-container>

</div>
