<div class="dashboard-container">

  <div class="table-responsive">
    <table class="table table-bordered">

      <!-- Dashboard header -->
      <thead class="table-secondary">
        <tr>
          <td colspan="3">
            <div class="dashboard-header d-flex justify-content-between align-items-center">
              <div>
                <h4>Dashboard</h4>
              </div>

              <!-- Add expense button and settle up button -->
              <div class="expense-settleup">
                <h4>{{userName | uppercase}}</h4>
              </div>

            </div>
          </td>
        </tr>

        <!-- Balance detail -->
        <tr>
          <th>
            <div>
              <p>Total balance:</p>
              <p>{{totalBalance}}</p>
            </div>
          </th>
          <th>
            <div>
              <p class="text-danger">You owe:</p>
              <p class="text-danger">{{totalOwe}}</p>
            </div>
          </th>
          <th>
            <div>
              <p class="text-success">You are owed:</p>
              <p class="text-success">{{totalOwed}}</p>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <td colspan="3">
          <div class="d-flex justify-content-between align-items-center">
          <table class="table table-hover table-bordered">
            <!-- expense header with add expense button -->
            <thead class="table-secondary">
              <tr>
                <td colspan="7">
                  <div class="expense-header d-flex justify-content-between align-items-center">

                    <!-- Back icon -->
                    <a routerLink="/dashboard" class="p-2"><i class="fa fa-arrow-circle-left"></i></a>

                    <!-- expense Name -->
                    <h4 class="p-2">Expenses</h4>

                    <!-- Add Expense and settle up button -->
                    <div class="expense-settleup">
                      <button class="btn btn-danger" routerLink="/expense/expense-add" type="button">Add Expense</button>
                      <button class="btn btn-success" routerLink="/settleUp" type="button">Settle Up</button>
                    </div>

                  </div>
                </td>
              </tr>

              <!-- Expense table header -->
              <tr>
                <th>Borrowed From</th>
                <th>Group Name</th>
                <th>Amount</th>
                <th>Message</th>
              </tr>
            </thead>

            <!-- expense list -->
            <tbody>
              <tr *ngFor="let item of borrowedAmountList; let i=index">
                <td>{{item.whomeToGive}}
                  {{item.whomeToGive}}</td>
                <td>{{item.groupName}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.message}}</td>
              </tr>
            </tbody>
          </table>
          </div>

        </td>

      </tbody>
    </table>

  </div>
</div>
