<div class="dashboard-container">
 
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <!-- Dashboard header -->
            <thead class="table-secondary">
              <tr>
                <td colspan="3">
                    <div class="dashboard-header d-flex justify-content-between align-items-center">
                        <div>
                            <h4>Dashboard</h4>
                        </div>
        
                        <!-- Add expense button and settle up button -->
                        <div class="expense-settleup">
                            <button class="btn btn-danger" routerLink="/expense/expense-add">Add Expense</button>
                            <button class="btn btn-success" routerLink="/settleUp">Settle Up</button>
                        </div>
                        
                    </div>
                </td>
              </tr>
    
              <!-- Balance detail -->
              <tr>
                <th>
                    <div>
                        <p>Total balance:</p>
                        <p>{{totalBalanceSign}}{{totalBalance}}</p>
                    </div>
                </th>
                <th>
                    <div>
                        <p>You owe:</p>
                        <p>{{totalOwe}}</p>
                    </div>
                </th>
                <th>
                    <div>
                        <p>You are owed:</p>
                        <p>{{totalOwed}}</p>
                    </div>
                </th>
            </tr>
    
            </thead>
      
            <!-- Dashboard Detail -->
            <tbody>
    
                
                <!-- Owe/Owed Details -->
                <tr *ngFor="let detail of balanceDetail">
                    <td colspan="3">
                        <div *ngIf="detail.owe =='owe'" class="d-flex flex-column justify-content-center align-items-center">
                            <a routerLink="/friends/friends-list/{{detail.person}}">{{detail.person}}</a>
                            <p>You owe {{detail.currency}}{{detail.amount}}</p>
                        </div>
                        <div *ngIf="detail.owe == 'owed'" class="d-flex flex-column justify-content-center align-items-center">
                            <a routerLink="/friends/friends-list/{{detail.person}}">{{detail.person}}</a>
                            <p>owes you {{detail.currency}}{{detail.amount}}</p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>