/* Import common styling */
@import "../layout/variables";

/* Dashboard container */
.dashboard-container {

    /* Dashboard table */
    .table {
        border-left: 1px solid $off-grey;
        border-right: 1px solid $off-grey;

        /* Buttons */
        .btn {
            margin-right: 5px;
        }

        /* Dashboard name */
        a {
            text-decoration: none;
            color: $black;

            /* Dashboard name hover */
            &:hover {
                color: $green;
                text-decoration: underline;
            }
        }

        /* Total balance, owe, owed */
        p {
            text-align: center;
            margin-bottom: 0;
        }

    }
}
