/* import common styling file */
@import "./app/layout/navbar";
@import "./app/layout/variables";
@import "./app/layout/button";

/* Universal styling */
* {
    box-sizing: border-box;
    font-family: $font-family;
}

/* Html tag styling */
html {
    height: 100%;

    body {
        height: 100%;
    }
}