<ng-container *ngIf="transactionList.length === 0">
  <h3 class="text-center">
    No transactions yet
  </h3>
</ng-container>
<ng-container *ngIf="transactionList.length > 0 ">
<div class="container" >
    <div class="table-responsive table-bordered">
        <table class="table table-hover">
            <!-- Transaction List header -->
            <thead class="table-secondary">
                <tr>
                    <th colspan="8">
                        <div class="d-flex justify-content-center">
                            <h4>Transaction List</h4>
                        </div>
                    </th>
                </tr>
                <!-- Transaction list header -->
                <tr>
                    <th>Payment Id</th>
                    <th>OwnedBy</th>
                    <th>Expense</th>
                    <th>CreationTime</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <!-- Transaction list details -->
            <tbody>
                <tr *ngFor="let transaction of transactionList">
                    <td>{{transaction.id}}</td>
                    <td>{{transaction.ownedByName}}</td>
                    <td>{{transaction.expenseName}}</td>
                    <td>{{transaction.creationTime}}</td>
                    <td>{{transaction.amount}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</ng-container>
