/* Import common styling */
@import "../layout/variables";

/* Transaction list container */
.container {
  // width: 800px;
  margin: 0 auto; /* Center the container horizontally */
}

/* table */
.table {
  border: 1px solid $off-grey;
}

/* Sticky Heading */
.sticky-heading {
  position: sticky;
  top: 0;
  z-index: 1;

  th {
    position: sticky;
    top: 0;
    background-color: $off-grey;
    z-index: 1;
  }
}

/* Transaction list scrollable */
.table-responsive {
  max-height: 400px;
  overflow-y: auto;
}

/* Heading Style */
.transaction-list-heading {
  margin: 0;
  text-align: center;
  padding: 10px;
}

/* Sticky Columns */
.sticky-column {
  position: sticky;
  z-index: 1;
}
