/* Import common styling */
@import "../layout/variables";

/* Transaction list container */
.container {
    
    /* table */
    .table {
        border: 1px solid $off-grey;

        /* Heading */
        h4 {
            margin: auto;
            text-align: center;
        }
    }
}