<div class="container">
  <div class="table-responsive">
    <table class="table table-hover table-bordered">
      <!-- Transaction List header -->
      <thead class="table-secondary sticky-heading">
        <tr>
          <th colspan="6" class="sticky-column">
            <div class="d-flex justify-content-center">
              <h4 class="transaction-list-heading">Transaction List</h4>
            </div>
          </th>
        </tr>
        <!-- Transaction list header -->
        <tr>
          <th>Created By</th>
          <th>Owned By</th>
          <th>Expense Name</th>
          <th>CreationTime</th>
          <th class="sticky-column">Amount</th>
        </tr>
      </thead>
      <!-- Transaction list details -->
      <tbody>
        <tr *ngFor="let transaction of transactionList">
          <td>{{transaction.creatorId}}</td>
          <td>{{transaction.ownedByName}}</td>
          <td>{{transaction.expenseName}}</td>
          <td>{{transaction.creationTime}}</td>
          <td>{{transaction.amount}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
