/* Import common styling */
@import "../layout/variables";

/* Transaction list container */
.container {
    width: 800px;
    
    /* table */
    .table {
        border: 1px solid $off-grey;

        /* Heading */
        h4 {
            margin: auto;
            text-align: center;
        }
    }
}

/* Media querys */
@media screen and (max-width: 1000px) {
    .container {
        width: 500px;
    }
}

@media screen and (max-width: 700px) {
    .container {
        width: 400px;
    }
}

@media screen and (max-width: 400px) {
    .container {
        width: 350px;
    }
}

@media screen and (max-width: 310px) {
    .container {
        width: 220px;
    }
}